.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 50px 1fr 20px auto;
}

.overlay div {
    position: relative;
    background-color: white;
    border: 2px black dashed;
    padding: 4px;
    overflow: hidden;
    transition: all 250ms linear;
}

.title-bar {
    grid-column: 1;
    grid-row: 1;
}

.control-bar {
    grid-column: 1;
    grid-row: 5;
    align-self: end;
}

.tool-bar {
    grid-column: 3;
    grid-row: 3;
    justify-self: end;

    max-width: 50px;
}

.hide-button {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    
    height: 16px;
    width: 16px;
    text-align: center;
}

.hide-up {
    bottom: 0px;
}

.hide-down {
    top: 0px;
}

.hide-right {
    left: 0px;
}
